.modal {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    // text-align: center;
    transform: translate(-50%, -50%);
    background: get-color('light-shade');
    border: 1px solid get-color('dark');
    padding: 1.3rem;
  }

  &__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}