.recipe-card {
  background: linear-gradient(#CBE10E, #b4bd66);
  border: 2px solid get-color('secondary');
  padding: 1rem;

  button {
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      @include apply-utility('weight', 'bold');
      margin-bottom: 0.5rem;
    }

    input {
      background: none;
      border: none;
      border-bottom: 1px solid get-color('secondary');
      
      &::placeholder {
        color: get-color('secondary');
        font-weight: 500;
        font-size: small;
      }

      &:focus {
        outline: none;
      }
    }
  }
}